*.in
*.out
tempCodeRunnerFile.py
*.exe
docs/.vitepress/cache/*
.vitepress/cache/*
node_modules/
docs/.vitepress/dist/*
.vitepress/dist/*
tailwind.config.js
code/tmp/
code/**/tmp/
package-lock.json
code/Others/*/
.vscode/
.vscode/settings.json
