.MathJax {
    position: relative;
    top: 0.5rem;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #377fed 10%,
    #47be29
  );

  --vp-home-hero-image-background-image: none;
}

#VPNavBar .content{
  padding-right: 0 !important;
}

#VPNavBar .content-body{
  padding-right: 2rem !important;
}